.contacts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 6px 0;
    background-color: #000;
    padding: 6px 85px;
}

.preheader {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    color: #FFFFFF;
    opacity: 0.8;
}

.contact img {
    padding-right: 10px;
}

.social-block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.social {
    padding-left: 12px;
    color: #FFFFFF;
    opacity: 0.8;
}